* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 6fr;
  overflow: auto;
  height: 100vh;
}

/* Navigation Panel */
.navigation-panel {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / -1;
  height: 8rem;
  padding: 2rem 2rem;
  position: relative;
}

.logo {
  width: 3.8rem;
}

.bank-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 8rem;
}

.bankdash {
  font-size: 2.2rem;
  color: #343c6a;
}

.nav-header {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #343c6a;
}

.menu-open {
  display: none !important;
}

.nav-options {
  display: flex;
  align-items: center;
  margin-left: 25rem;
  gap: 2.4rem;
}

.nav-search-box {
  display: flex;
  align-items: center;
}

.btn-nav {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav--search {
  background: none;
  z-index: 11;
  margin-right: -4rem;
}

#search {
  width: 30rem;
  height: 4.5rem;
  border: none;
  outline: none;
  border: 2px solid #fff;
  background: #f5f7fa;
  font-size: 1.5rem;
  color: #343c6a;
  font-weight: 500;
  border-radius: 4rem;
  padding-left: 5rem;
  padding-top: 0.1rem;
}

#search::placeholder {
  vertical-align: center;
  font-size: 1.5rem;
  color: #8ba3cb;
}

#search:focus {
  font-size: 1.5rem;
  color: #343c6a;
  font-weight: 500;
  border: 2px solid #8ba3cb;
}

.icon-nav {
  width: 2rem;
  height: 2rem;
}

.icon-nav--search {
  width: 2rem;
}

.btn-nav--settings,
.btn-nav--log-out {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-nav--settings:hover,
.btn-nav--log-out:hover {
  cursor: pointer;
  background: #d3d9eb;
}

.icon-log-out {
  width: 2.5rem;
}

.profile-img {
  width: 4rem;
  /* background-color: #f5f7fa;
  border: 5px solid #f5f7fa; */
  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  max-width: 18rem;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  margin: 0 auto;
  gap: 2.8rem;
}

.menu-close {
  display: none;
}

.side-menu {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  color: #b1b1b1;
  font-weight: 600;
}

.side-menu:first-child {
  color: #2d60ff;
}

.highlight {
  position: absolute;
  width: 0.5rem;
  height: 5rem;
  left: 0;
  border-radius: 0 0.6rem 0.6rem 0;
  background-color: #2d60ff;
}

.side-icon {
  width: 2.2rem;
}

.side-option {
  font-size: 1.4rem;
}

/* Main */
.container {
  background-color: #f5f7fa;
  padding: 2rem 4rem 2rem 4rem;
}

/* Summary */
.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.summary-box {
  width: 27.5rem;
  height: 10rem;
  border-radius: 2.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.summary-icon-box {
  width: 7rem;
  height: 7rem;

  border-radius: 50%;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-icon-box--balance {
  background-color: #fff5d9;
}
.summary-icon-box--income {
  background-color: #e7edff;
}
.summary-icon-box--expense {
  background-color: #ffe0eb;
}
.summary-icon-box--loans {
  background-color: #dcfaf8;
}

.summary-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.summary-name {
  font-size: 1.6rem;
  color: #718ebf;
}
.summary-value {
  font-size: 2.5rem;
  font-weight: 600;
}

/* Transactions */
.transactions {
  background-color: #fff;
  border-radius: 2.5rem;
  max-height: 25.5rem;
  padding: 2.5rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.header-transactions,
.transfer-header,
.loan-header,
.card-header {
  font-size: 2rem;
  font-weight: 600;
  color: #343c6a;
  margin-bottom: 1.2rem;
}

.header-transactions {
  display: flex;
  align-items: center;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort {
  font-size: 1.2rem;
  font-weight: 500;
  color: #343c6a;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.arrow-down {
  display: none;
}

.as-of {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.date {
  font-weight: 600;
}

.transfer-header,
.loan-header,
.card-header {
  font-size: 1.8rem;
}

.transaction-row-header {
  gap: 5rem !important;
}

.transaction-row-name {
  width: 14%;
}
.transaction-row-name--description {
  width: 22rem;
}

.transaction-row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: #232323;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6eff5;
  margin-bottom: 1rem;
  gap: 8rem;
}

.transaction-row-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #718ebf;
}

.transaction-row:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.transaction-description,
.transaction-id,
.transaction-type,
.transaction-card,
.transaction-date,
.transaction-amount {
  font-size: 1.3rem;
  align-self: center;
}

.transaction-description {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 15rem;
}

.transaction-id,
.transaction-type,
.transaction-card,
.transaction-amount {
  width: 8%;
}

.transaction-date {
  width: 15%;
}

.transaction-amount--withdrawl {
  color: #fe5c73;
  font-weight: 500;
}

.transaction-amount--deposit {
  color: #16dbaa;
  font-weight: 500;
}

.btn-transaction {
  border: none;
  width: 10.5rem;
  height: 3.5rem;
  border-radius: 10rem;
  background: none;
  border: 1px solid #123288;
  color: #123288;
}

/* Services */
.services {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.transfer-data,
.request-loan {
  background-color: #fff;
  height: 20rem;
  border-radius: 2.5rem;
  padding: 2.5rem;
}

.transfer-details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.transfer-data {
  width: 44rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

#label {
  font-size: 1.4rem;
  color: #718ebf;
  width: 35%;
}

#transfer-to,
#transfer-for,
#input-amount {
  width: 60%;
  height: 4.5rem;
  border: none;
  outline: none;
  background: #edf1f7;
  border-radius: 10rem;
  padding-left: 2rem;
  color: #343c6a;
  font-weight: 500;
}

#transfer-to,
#transfer-for {
  appearance: none;
  margin-right: -6rem;
}
/* #transfer-to .to-option:first-child,
#transfer-for .for-option:first-child {
  color: #718ebf;
} */

#input-amount::placeholder {
  color: #718ebf;
}

.btn-send--transfer {
  margin-left: -8.5rem;
  height: 4.5rem;
  width: 7rem;
  border: none;
  background: #1814f3;
  border-radius: 10rem;
  color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-send--transfer:hover {
  cursor: pointer;
  background: #123288;
  color: #f5f7fa;
}

.request-loan {
  width: 31rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.loan-profile {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
}

.loan-input {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.loan-profile-img {
  margin-bottom: 1.2rem;
}

.profile-name {
  font-size: 1.3rem;
  color: #232323;
  margin-bottom: 0.6rem;
}
.profile-profession {
  font-size: 1.3rem;
  color: #718ebf;
}

#loan-amount {
  width: 12rem;
  height: 5rem;
  text-align: center;
  border: none;
  outline: none;
  background: #edf1f7;
  color: #123288;
  border-radius: 10rem;
  padding-left: 2rem;
}

#loan-amount::placeholder {
  color: #718ebf;
}

.btn-loan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 4rem;
  border: none;
  background: #1814f3;
  border-radius: 50rem;
  color: #fff;
  margin-top: -0.8rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-loan:hover {
  cursor: pointer;
  background: #123288;
  color: #f5f7fa;
}

.send-icon {
  width: 2.2rem;
}

/* Card */
.card-box {
  width: 35rem;
  background-color: #4c49ed;
  color: #fff;

  padding-bottom: 1.8rem;
  border-radius: 2.5rem;
  height: 20rem;
  overflow: hidden;
}
.my-card {
  /* width: 35rem; */
  /* background-color: #4c49ed; */
  color: #fff;
  background-image: linear-gradient(175deg, #4c49ed, #0a06f4);
  /* padding: 2.2rem;
  padding-bottom: 1.8rem; */

  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-content: center;
  align-items: center;
  row-gap: 3rem;
  padding: 2.2rem;
}

.card-balance {
  grid-column: 1 / 3;
}

.card-validity {
  grid-column: span 2;
}

.card-numbers {
  grid-column: 1 / 3;
  font-size: 2rem;
}

.card-balance-header,
.card-holder-header,
.card-validity-header {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  color: #ffffffc2;
}

.card-holder-header,
.card-validity-header {
  font-size: 1rem;
  text-transform: uppercase;
}

.card-balance-value {
  font-size: 2rem;
  font-weight: 500;
}

.card-holder-name,
.card-validity-date {
  font-size: 1.5rem;
  font-weight: 400;
}

.card-evm {
  justify-self: end;
}

.card-bottom {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(175deg, #4c49ed, #0a06f4);
}

/* Log in */
.login-box {
  max-width: 100%;
}

.log-in {
  /* position: relative;
  top: 50%;
  left: 50%; */
  margin: 25rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  height: 25rem;
  width: 33rem;
  border-radius: 2.5rem;
  /* transform: translate(-50%, -50%); */
}
#username,
#password {
  width: 25rem;
  height: 5rem;
  border: none;
  outline: none;
  border: 2px solid #fff;
  background: #f5f7fa;
  font-size: 1.5rem;
  color: #343c6a;
  font-weight: 500;
  border-radius: 4rem;
  padding-left: 3rem;

  padding-top: 0.1rem;
}

.btn-log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  background: #1814f3;
  border-radius: 50rem;
  color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
  /* margin-top: -0.8rem; */
}

.btn-log-in:hover {
  cursor: pointer;
  background: #123288;
  color: #f5f7fa;
}

#username::placeholder,
#password::placeholder {
  vertical-align: center;
  font-size: 1.5rem;
  color: #8ba3cb;
}

#username:focus,
#password:focus {
  font-size: 1.5rem;
  color: #343c6a;
  font-weight: 500;
  border: 2px solid #8ba3cb;
}

.hidden {
  display: none !important;
}

/* Log in Details */

.log-in-detail-box {
  position: absolute;
  top: 8rem;
  right: 10rem;
  width: 23rem;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.account-number {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.account-number:hover {
  color: #123288;
  text-decoration: underline;
}

.log-in-details {
  background-color: #f5f7fa;
  padding: 1rem;
  border-radius: 1.2rem;
}
.log-in-username {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.log-in-password {
  font-size: 1.2rem;
}

.name,
.pin {
  font-weight: 600;
}

/* Responsive Large Tablet - 1340px */
@media (max-width: 1340px) {
  .nav-header {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .nav-options {
    margin-left: 25rem;
  }

  .side-menu {
    flex-direction: column;
    gap: 0.8rem;
  }

  .side-option {
    font-size: 1.2rem;
  }

  .sidebar {
    align-items: center;
  }

  .container {
    padding: 2rem 2rem 2rem 2rem;
  }

  .summary-box {
    width: 25rem;
  }

  .transfer-data {
    width: 40rem;
  }

  .request-loan {
    width: 28rem;
  }

  .card-box {
    width: 30rem;
  }
}

/* Responsive Medium Tablet - 1200px  */
@media (max-width: 1200px) {
  .logo {
    width: 3rem;
  }

  .bankdash {
    font-size: 1.8rem;
  }

  .nav-header {
    font-size: 1.7rem;
    line-height: 1.1;
  }

  .nav-options {
    margin-left: 22rem;
    gap: 2rem;
  }

  .side-option {
    display: none;
  }

  .sidebar {
    min-width: 8rem;
    gap: 4rem;
  }

  .highlight {
    top: 10rem;
  }

  .summary-box {
    width: 23rem;
  }

  .header-transactions,
  .transfer-header,
  .loan-header,
  .card-header {
    font-size: 1.7rem;
  }

  .summary-name {
    font-size: 1.3rem;
  }

  .summary-value {
    font-size: 2.2rem;
  }
}

/* Responsive Large Tablet - 1340px */
@media (max-width: 1024px) {
  body {
    /* height: 100%; */
    position: relative;
  }

  .login-box {
    width: 100vw;
  }

  .navigation-panel {
    justify-content: space-between;
    max-width: 100vw;
    height: 6rem;
    padding: 1.5rem 1.5rem;
  }

  .menu-open {
    display: block !important;
  }

  .menu-close {
    display: block;
    display: flex;
    align-items: center;
  }

  .menu-close p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .icon-close {
    width: 3rem;
  }

  .sidebar {
    position: absolute;
    width: 40%;
    height: 135rem;
    top: 0;
    margin: 0;
    /* max-width: 5rem; */
    background-color: #fff;
    box-shadow: 0 13px 5px rgba(0, 0, 0, 0.15);
    display: none;
  }

  .nav-header {
    font-size: 1.6rem;
  }

  .nav-options {
    margin-left: 0;
    gap: 1.8rem;
  }

  .btn-nav--search {
    margin-right: -3rem;
  }

  #search {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-left: 0;
  }

  #search::placeholder {
    font-size: 0;
  }

  .container {
    background-color: #fff;
    padding: 2rem 1.2rem;
    width: 100vw;
    /* filter: blur(4px); */
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2fr;
    row-gap: 2rem;
    justify-items: center;
    margin-bottom: 4rem;
  }

  .highlight {
    display: none;
  }

  .transactions {
    width: 100%;
    border: 1px solid #e3e4e6;
    margin-bottom: 4rem;
  }

  .btn-transaction,
  .transaction-id {
    display: none;
  }

  .transaction-date {
    width: 30%;
  }

  .services {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .summary-box {
    width: 90%;
    gap: 1.2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  .summary-icon-box {
    width: 5.8rem;
    height: 5.8rem;

    border-radius: 50%;
  }

  .summary-icon {
    width: 2.6rem;
    height: 2.6rem;
  }

  .summary-name {
    font-size: 1.2rem;
  }

  .summary-value {
    font-size: 2rem;
  }

  .transfer-data {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  #label {
    font-size: 1.2rem;
  }

  .loan-profile-img {
    width: 5rem;
  }

  .profile-name {
    font-size: 1.4rem;
    font-weight: 500;
  }

  #loan-amount {
    padding-left: 0;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .btn-loan {
    width: 6rem;
    height: 4.5rem;
    margin-top: -2rem;
  }

  .profile-profession {
    font-size: 1.4rem;
  }
  .request-loan {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .card-box {
    width: 100%;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .transfer-service,
  .card-service,
  .loan-service {
    width: 100%;
  }
  .card-service {
    width: 50%;
    justify-self: center;
    grid-column: 1 / -1;
  }
}

/* Responsive - 770px */
@media (max-width: 770px) {
  body {
    /* height: 100%; */
    position: relative;
  }

  .navigation-panel {
    justify-content: space-between;
    max-width: 100vw;
    height: 6rem;
    padding: 1.5rem 1.5rem;
  }

  .bank-name {
    display: none;
  }

  .menu-open {
    display: block !important;
  }

  .menu-close {
    display: block;
    display: flex;
    align-items: center;
  }

  .menu-close p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .icon-close {
    width: 3rem;
  }

  .sidebar {
    position: absolute;
    width: 40%;
    height: 135rem;
    top: 0;
    margin: 0;
    /* max-width: 5rem; */
    background-color: #fff;
    box-shadow: 0 13px 5px rgba(0, 0, 0, 0.15);
    display: none;
  }

  .nav-header {
    font-size: 1.6rem;
  }

  .nav-options {
    margin-left: 0;
    gap: 1.8rem;
  }

  .btn-nav--search {
    margin-right: -3rem;
  }

  #search {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-left: 0;
  }

  #search::placeholder {
    font-size: 0;
  }

  .container {
    background-color: #fff;
    padding: 2rem 1.2rem;
    width: 100vw;
    /* filter: blur(4px); */
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2fr;
    row-gap: 2rem;
    justify-items: center;
    margin-bottom: 4rem;
  }

  .summary-box--loans {
    grid-column: 2 / 3;
  }

  .highlight {
    display: none;
  }

  .transactions {
    width: 100%;
    border: 1px solid #e3e4e6;
    margin-bottom: 4rem;
  }

  .transaction-id,
  .transaction-type,
  .transaction-card {
    display: none;
  }

  .transaction-date {
    width: 30%;
  }

  .services {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .summary-box {
    width: 90%;
    gap: 3.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  .summary-icon-box {
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
  }

  .summary-icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  .summary-name {
    font-size: 1.6rem;
  }

  .summary-value {
    font-size: 2.8rem;
  }

  .transfer-data {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .loan-profile-img {
    width: 6.5rem;
  }

  .profile-name {
    font-size: 1.7rem;
    font-weight: 500;
  }

  #loan-amount {
    padding-left: 0;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .btn-loan {
    width: 7rem;
    height: 5rem;
    margin-top: 0;
  }

  .profile-profession {
    font-size: 1.6rem;
  }
  .request-loan {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .card-box {
    width: 100%;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .transfer-service,
  .card-service,
  .loan-service {
    width: 65%;
  }
}

/* Responsive - 600px */

@media (max-width: 600px) {
  body {
    /* height: 100%; */
    position: relative;
  }

  .navigation-panel {
    justify-content: space-between;
    max-width: 100vw;
    height: 6rem;
    padding: 1.5rem 1.5rem;
  }

  .bank-name {
    display: none;
  }

  .menu-open {
    display: block !important;
  }

  .menu-close {
    display: block;
    display: flex;
    align-items: center;
  }

  .menu-close p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .icon-close {
    width: 3rem;
  }

  .sidebar {
    position: absolute;
    width: 40%;
    height: 135rem;
    top: 0;
    margin: 0;
    /* max-width: 5rem; */
    background-color: #fff;
    box-shadow: 0 13px 5px rgba(0, 0, 0, 0.15);
    display: none;
  }

  .nav-header {
    font-size: 1.4rem;
  }

  .nav-options {
    margin-left: 0;
    gap: 1.8rem;
  }

  .btn-nav--search {
    display: none;
  }

  #search {
    display: none;
  }

  #search::placeholder {
    font-size: 0;
  }

  .container {
    background-color: #fff;
    padding: 2rem 1.2rem;
    width: 100vw;
    /* filter: blur(4px); */
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1fr;
    row-gap: 2rem;
    justify-items: center;
    margin-bottom: 4rem;
  }

  .highlight {
    display: none;
  }

  .transactions {
    width: 100%;
    border: 1px solid #e3e4e6;
    margin-bottom: 4rem;
  }

  .transaction-id,
  .transaction-type,
  .transaction-card,
  .btn-transaction--receipt {
    display: none;
  }

  .transaction-date {
    width: 30%;
  }

  .services {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .summary-box {
    width: 90%;
    gap: 2.2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  .summary-icon-box {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
  }

  .summary-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .summary-name {
    font-size: 1.2rem;
  }

  .summary-value {
    font-size: 2.4rem;
  }

  .transfer-data {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .loan-profile-img {
    width: 6.5rem;
  }

  .profile-name {
    font-size: 1.7rem;
    font-weight: 500;
  }

  #loan-amount {
    padding-left: 0;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .btn-loan {
    width: 7rem;
    height: 5rem;
    margin-top: 0;
  }

  .profile-profession {
    font-size: 1.6rem;
  }
  .request-loan {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .card-box {
    width: 100%;
  }

  .transfer-service,
  .card-service,
  .loan-service {
    width: 90%;
  }

  .header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
}

/* Responsive Mobile - 375px */
@media (max-width: 376px) {
  body {
    /* height: 100%; */
    position: relative;
  }
  .navigation-panel {
    justify-content: space-between;
    max-width: 100vw;
    height: 6rem;
    padding: 1.5rem 1.5rem;
  }

  .bank-name {
    display: none;
  }

  .menu-open {
    display: block !important;
  }

  .menu-close {
    display: block;
    display: flex;
    align-items: center;
  }

  .menu-close p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .icon-close {
    width: 3rem;
  }

  .sidebar {
    position: absolute;
    width: 40%;
    height: 135rem;
    top: 0;
    margin: 0;
    /* max-width: 5rem; */
    background-color: #fff;
    box-shadow: 0 13px 5px rgba(0, 0, 0, 0.15);
    display: none;
  }

  .nav-header {
    font-size: 1.3rem;
  }

  .nav-options {
    margin-left: 0;
    gap: 1.8rem;
  }

  .btn-nav--search {
    margin-right: -3rem;
    display: none;
  }

  #search {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-left: 0;
    display: none;
  }

  #search::placeholder {
    font-size: 0;
  }

  .btn-nav--settings {
    width: 3rem;
    height: 3rem;
  }

  .btn-nav--log-out {
    width: 3rem;
    height: 3rem;
  }

  .icon-log-out,
  .icon-nav {
    width: 1.8rem;
  }

  .container {
    background-color: #fff;
    padding: 2rem 1.2rem;
    width: 100vw;
    /* filter: blur(4px); */
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2fr;
    row-gap: 2rem;
    justify-items: center;
    margin-bottom: 4rem;
  }

  .highlight {
    display: none;
  }

  .transactions {
    width: 100%;
    border: 1px solid #e3e4e6;
    margin-bottom: 4rem;
  }

  .transaction-id,
  .transaction-type,
  .transaction-card,
  .transaction-date,
  .btn-transaction--receipt {
    display: none;
  }

  .services {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .summary-box {
    width: 95%;
    gap: 1.2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  .summary-icon-box {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
  }

  .summary-icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .summary-name {
    font-size: 1rem;
  }

  .summary-value {
    font-size: 1.5rem;
  }

  .transfer-data {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .loan-profile-img {
    width: 6.5rem;
  }

  .profile-name {
    font-size: 1.7rem;
    font-weight: 500;
  }

  #loan-amount {
    padding-left: 0;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .btn-loan {
    width: 7rem;
    height: 5rem;
    margin-top: 0;
  }

  .profile-profession {
    font-size: 1.6rem;
  }
  .request-loan {
    width: 100%;
    border: 1px solid #e3e4e6;
  }

  .loan-service,
  .card-service {
    width: 100%;
  }

  .card-box {
    width: 100%;
  }

  .header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .transaction-amount {
    width: 35%;
  }
}
